body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12pt;
    padding: 10px;
    color: #444;
}

img {
    border: none;
}

pre.details {
    display: none;
    white-space: normal;
}

a.details_expand:link,
a.details_expand:active,
a.details_expand:visited {
    font-size: 8pt;
    color: green;
    text-decoration: none;
}

a:link, a:active, a:visited {
    color: #358FC3;
}

a:hover {
    color: #3DB1E2;
}

h1, h2, h3, h4, h5 {
    color: black;
}

.footer {
    border-top: 2px solid #eee;
    padding: 10px;
    margin: 20px 0 0;
    font-size: 8pt;
    text-align: center;
}

.footer a:link,
.footer a:visited,
.footer a:active,
.footer a:hover {
    color: #aaa;
}

div.error {
    color: #d22;
    border: 2px solid #fbb;
    background-color: #ffeeee;
    padding: 9px;
    margin: 0 0 10px;
    border-radius: 10px;
}


div.info {
    border: 2px solid #A5E6A1;
    padding: 12px;
    background-color: #E2FDEA;
    color: #0C7004;
    border-radius: 10px;
    margin: 0 0 10px 0;
}


.fieldset_submit {
    display: block;
    width: 600px;
    border: none;
    margin: 0;
    padding: 10px;
}

input, select {
    font-size: 16px;
    color: gray;
    padding: 5px;
    border: 2px solid #ccc;
    margin: 10px 5px;
}

select {
    height: 35px;
}

label {
    display: block;
    margin-bottom: 7px;
}

.login_container, .center_form_container  {
    text-align: center;
    width: 600px;
    margin: 0px auto;
}

.login_welcome {
    color: #888;
}

fieldset.fieldset_centre textarea {
    border: 2px solid #ccc;
    color: gray;
    padding: 10px;
    font-size: 16px;
    width: 800px;
    margin: 0 auto;
}

.button {
    font-size: 11pt;
    width: 120px;
    border: none;
    height: 30px;
    text-transform: uppercase;
    background-color: #ef5d21;
    color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
}

a.button {
    display: block;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    top: 2px
}

.logout {
    position: absolute; top: 1em; right: 1em;
}

