body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11pt;
}

img {
    border: none;
}

pre.details {
	display: none;
	white-space:normal;
}

a.details_expand:link,
a.details_expand:active,
a.details_expand:visited
{
	font-size: 8pt;
	color: green;
	text-decoration: none;
}

div.error {
    color: #d22;
    border: 2px solid red;
    background-color: #ffeeee;
    padding: 9px;
}

