<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/style/main.css">

    </head>
    <body>
        <div class="center_form_container" style="text-align: left">
            <form action="/view-kw-results/" class="fieldset_submit">
                Keyword: <input type="text" name="keyword"/>
                <input type="submit" value="Query" class="button"/>
            </form>
            
            <form action="/list-keywords/" method="get" class="fieldset_submit">
                <input type="submit" value="Show Keywords" class="button"/>
            </form>
        </div> 
    </body>
</html>
