<!DOCTYPE hml>
<html>
<head>
    <title>RFPow! - Home Page</title>
    <link rel="stylesheet" type="text/css" href="/style/admin.css">
    <link rel="stylesheet" type="text/css" href="/style/main.css">

</head>
<body>
    <div style="position: relative;">
        <div class="logout"><a href="{{ url_logout }}">Log out</a></div>
    </div>
    <img src="../images/logo.png">

    <h3>Howdy, {{ username }}!</h3>

    Here are some of the things you can do so far

    <ul>

        <li><a href="{{ url_top_rfps }}">Top RFPs</a></li>
        <li><a href="{{ url_query_rfps }}">Browse RFPs</a></li>
        <li><a href="/admin/">Admin CP (developer use)</a></li>
    </ul>




</body>
</html>
