<!DOCTYPE hml>
<html>
<head>
    <title>RFPow! - Login</title>
    <link rel="stylesheet" type="text/css" href="/style/main.css">
</head>
<body>
<form action="{{action}}" method="post">
    <fieldset>
        <legend>Login form</legend>
        {% if err_msg != "" %}
            <div class="error"> {{ err_msg }} </div>
        {% endif %}
        <label>Username <input type="text" name="username" placeholder="Your username"/></label>
        <label>Password <input type="password" name="password" placeholder="Your password"/></label>
        <label>Remember me? <input type="checkbox" name="remember_me" placeholder="Remember me?"/></label>
    </fieldset>
    <button>Login</button>
</form>
<a href="/create-user/">New User?</a>
</body>
</html>