<!DOCTYPE hml>
<html>
<head>
    <title>RFPow! - Register</title>
    <script type="text/javascript" src="../js/user_input.js">
    </script>
    <link rel="stylesheet" type="text/css" href="/style/main.css">
    <link rel="stylesheet" type="text/css" href="/style/user.css">
</head>
<body>
<form action="{{action}}" method="post" onsubmit=" return debug_ignore_validation || validateString(this.username, 'Please fill all required ' +
 'fields', 1, 255)
&& validateString(this.first_name, 'Please fill all required fields', 1, 255)
&& validateString(this.last_name, 'Please fill all required fields', 1, 255)
&& validateEmail(this.email, 'Email not valid')
&& validateNumber(this.cc_number, 'Credit card number is 16 digits', 16, 16)
&& validateString(this.name_on_cc, 'Please fill all required fields', 1, 255)
&& validateCCDate(this.expiry_date, 'Credit card format must be in MM/dd/yy format')
;">
    <br>

    <h2>Register an RFPow Account</h2>
    <fieldset class="fieldset_submit">

        {% if err_msg != "" %}

            <div class="error">  {{ err_msg }}</div>

        {% endif %}
        <label>*Username <input type="text" name="username" placeholder="Your username"/></label>
        <label>*Password <input type="password" name="password" placeholder="Your password"/></label>

        <label>*First Name <input type="text" name="first_name"/></label>
        <label>*Last Name <input type="text" name="last_name"/></label>
        <label>*Email<input type="text" name="email"/></label>


        <!--
        <label>Street Address <input type="text" name="password" placeholder="Your password"/></label><br>
        <label>City <input type="text" name="password" placeholder="Your password"/></label><br>
        <label>State/Province <input type="text" name="password" placeholder="Your password"/></label><br>
        <label>Postal/Zip <input type="text" name="password" placeholder="Your password"/></label><br>
        <label>Country <input type="text" name="password" placeholder="Your password"/></label><br>
        <label>Email <input type="text" name="password" placeholder="Your password"/></label><br>
        <label>Keywords <input type="text" name="password" placeholder="Your password"/></label><br>
        -->
        <br>

        <div>Visa Payment Info</div>
        <label>*VISA Number <input type="text" name="cc_number"/></label>
        <label>*Name on Card <input type="text" name="name_on_cc"/></label>
        <label>*Expiry Date
        <select id="monthdropdown" name="expiry_date_month">
        </select>
        <select id="yeardropdown"  name="expiry_date_year">
        </select></label>

        <br>

        <!--
    <div>What type of RFPs are you interested in? List keywords comma delimited</div>
    <label>Keywords <input type="text" name="keywords"/></label><br> -->

        <input type="submit" class="button" value="Submit">

    </fieldset>
</form>
</body>
</html>
