<!doctype html>
<html>
    <head>
        <title>RFPow!</title>
        <link href="style/main.less" rel="stylesheet/less" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Economica:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

        <script src="js/less-1.3.0.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script src="js/main.js" type="text/javascript"></script>
    </head>

    <body class="rfp_details">
        <h2 class='title'>{{rfp.title}}</h2>
        <div class="dates">
            <span class="date">
                <span class="date_title published">Published on:</span> {{rfp.publish_date}}
            </span>
            <span class="date">
                <span class="date_title expires">Expires:</span> {{rfp.close_date}}
            </span>
        </div>

        <div class="description">
            {{rfp.description}}
        </div>
        <div class="footer">
            <div class="source {{rfp.origin}}"></div> 
            <div class="buttons">
                <a alt="See more details about this RFP" class="button button_details"
                    href="{{rfp.original_uri}}" target="_blank">
                </a> 
            </div>
        </div>
    </body>
</html>
