<!DOCTYPE hml>
<html>
<head>
	{% if username %}
	<title>Your account : RFPow!</title>
	{% else %}
    <title>RFPow!</title>
	{% endif %}
    <meta charset="UTF-8">
    <link rel="stylesheet/less" type="text/css" href="/style/main.less">

    <script src="/js/less-1.3.0.min.js" type="text/javascript"></script>
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/alert.js" type="text/javascript"></script>
    <script src="/js/settings.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/user_input.js"></script>
</head>
<body class="settings">
	<!-- Status updates -->
	<div class="alert info" id="alert_container">
		<div class="icon"></div>
		<h3 class="title">Success!</h3> 
		<div class="body">
			<span class="message"></span>
			<a href="#" class="action"></a>
		</div>
	</div>
    <div class="center_form_container">
        <form action="{{action}}" method="post" onsubmit="return debug_ignore_validation ||
            validateString(this.username, 'Please fill all required fields', 1, 255)
            && validateString(this.password, 'Please fill all required fields', 1, 255)
            && validateString(this.first_name, 'Please fill all required fields', 1, 255)
            && validateString(this.last_name, 'Please fill all required fields', 1, 255)
            && validateEmail(this.email, 'Email not valid')
            ;">

            <!-- Logo -->
			<a href="/" alt="Back to the home page">
				<img src="/images/logo.png" alt="RFPow's logo">
			</a>


            {% if username %}
            <div style="position: relative">
                <a href="/" class="back">&larr; Back to RFPs</a>
                <h2>Your account</h2>
            </div>
            {% else %}
            <h2>Register an account</h2>
            <div class="intro">
                Let's register! Please fill out all the fields below. 
            </div>
            {% endif %}

            {% if username and subscriptions|length != 0 %}
			<div class="fieldset_submit">
				<h3>Subscriptions</h3>	
				<div class="intro">
					These are your search subscriptions. You will
					receive email notifications when we discover new RFPs 
					matching those search keywords.
				</div>

				<div class="subscriptions">
					{% for s in subscriptions %}
					<div class="subscription clearfix">
						<div class="title">&ldquo;{{ s.keyword }}&rdquo;</div>	
						<div class="unsubscribe" 
							 title="Unsubscribe from '{{ s.keyword }}'"
							 alt="Unsubscribe from '{{ s.keyword }}'"
							 data-keyword="{{ s.keyword }}"></div>	
					</div>	
					{% endfor %}
				</div>
			</div>
			{% endif %}

			<!-- Personal info -->
            <fieldset class="fieldset_submit">
				<h3>Personal information</h3>	
                {% if err_msg != "" %}
                <div class="status error">{{ err_msg }}</div>
                {% elif info_msg %}
                <div class="status info">{{ info_msg }}</div>
                {% endif %}

                {% if not username %}
                <label class="clearfix">Username <input type="text" name="username" placeholder="Be creative"></label>
                <label class="clearfix">Password <input type="password" name="password" placeholder="Be cryptic."></label>
                {% endif %}

                <label class="clearfix">First name 
                    <input type="text" name="first_name"  value="{{ user.first_name }}" placeholder="Ideally, real name."></label>
                <label class="clearfix">Last name 
                    <input type="text" name="last_name"  value="{{ user.last_name }}" placeholder="We won't tell anyone."></label>
                <label class="clearfix">Email
                    <input type="text" name="email" value="{{ user.email }}" placeholder="No spam, for real!"></label>


                <h3>Credit card information</h3>
                <div class="intro">
                    Optional. Enter if you wish to donate $5 a month to help improve this service.
                </div>
                <label class="clearfix">Card number <input type="text" name="cc_number" value="{{ user.cc_number }}"></label>
                <label class="clearfix">Name on card <input type="text" name="name_on_cc" value="{{ user.name_on_cc }}"></label>
                <select id="monthdropdown" name="expiry_date_month" >
                    <option value="{{ user.expiry_date_month }}" id="expiry_date_month">
                        {{ user.expiry_date_month }}
                    </option>
                </select>
                <select id="yeardropdown"  name="expiry_date_year" value="{{ user.expiry_date_year }}">
                    <option value="{{ user.expiry_date_year }}" id="expiry_date_year">
                    {{ user.expiry_date_year }}
                    </option>
                </select>

                <!--
                <div>What type of RFPs are you interested in? List keywords comma delimited</div>
                <label class="clearfix">Keywords <input type="text" name="keywords"></label><br> -->

                <div class="bottom_buttons">
                {% if username %}
                    <input type="submit" class="button button_save" value="">
                {% else %}
                    <input type="submit" class="button button_register" value="">
                {% endif %}
                </div>

            </fieldset>
        </form>
    </div>
</body>
</html>
